In [1]:
# ライブラリのインポート
from datetime import datetime, timedelta
import talib as ta
import numpy as np
import pandas as pd
from pandas_datareader import data
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
import seaborn as sns
%matplotlib inline
import warnings
warnings.simplefilter('ignore')

In [69]:
def import_data(kind, reference='yahoo'):
    data_master = data.DataReader(kind, reference, '2000-01-01', end)
    data_master.reset_index(drop=False, inplace=True)
    data_master['Date'] = pd.to_datetime(data_master['Date'])
    return data_master

In [70]:
# 開始日時と終了日時
start, end = '2021-01-01', '2021-12-01'
# 使用する銘柄
kind = '^N225'

In [71]:
# データのインポートを行う
data_master = import_data(kind=kind)

In [72]:
data_master

,Date,High,Low,Open,Close,Volume,Adj Close
0,2000-01-04,19187.609375,18937.449219,18937.449219,19002.859375,0.0,19002.859375
1,2000-01-05,19003.509766,18221.820312,19003.509766,18542.550781,0.0,18542.550781
2,2000-01-06,18582.740234,18168.269531,18574.009766,18168.269531,0.0,18168.269531
3,2000-01-07,18285.730469,18068.099609,18194.050781,18193.410156,0.0,18193.410156
4,2000-01-11,18887.560547,18246.099609,18246.099609,18850.919922,0.0,18850.919922
...,...,...,...,...,...,...,...
5365,2021-11-25,29570.419922,29444.449219,29469.650391,29499.279297,50700000.0,29499.279297
5366,2021-11-26,29332.990234,28605.609375,29324.470703,28751.619141,72900000.0,28751.619141
5367,2021-11-29,28776.339844,28187.119141,28337.960938,28283.919922,85900000.0,28283.919922
5368,2021-11-30,28718.699219,27819.140625,28611.730469,27821.759766,140700000.0,27821.759766
5369,2021-12-01,28106.300781,27594.009766,27866.730469,27935.619141,80900000.0,27935.619141

In [73]:
data_Date=data_master[['Date']]
data_Date['Date2']='Dummy'

In [74]:
data_Date

           Date  Date2
0    2000-01-04  Dummy
1    2000-01-05  Dummy
2    2000-01-06  Dummy
3    2000-01-07  Dummy
4    2000-01-11  Dummy
...         ...    ...
5365 2021-11-25  Dummy
5366 2021-11-26  Dummy
5367 2021-11-29  Dummy
5368 2021-11-30  Dummy
5369 2021-12-01  Dummy

[5370 rows x 2 columns]

In [75]:
# Dateをインデックスに指定
data_Date.set_index('Date',inplace=True)
data_Date

            Date2
Date
2000-01-04  Dummy
2000-01-05  Dummy
2000-01-06  Dummy
2000-01-07  Dummy
2000-01-11  Dummy
...           ...
2021-11-25  Dummy
2021-11-26  Dummy
2021-11-29  Dummy
2021-11-30  Dummy
2021-12-01  Dummy

[5370 rows x 1 columns]

In [76]:
# Dateをインデックスに指定
data_master.set_index('Date',inplace=True)
data_master

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2000-01-04,19187.609375,18937.449219,18937.449219,19002.859375,0.0,19002.859375
2000-01-05,19003.509766,18221.820312,19003.509766,18542.550781,0.0,18542.550781
2000-01-06,18582.740234,18168.269531,18574.009766,18168.269531,0.0,18168.269531
2000-01-07,18285.730469,18068.099609,18194.050781,18193.410156,0.0,18193.410156
2000-01-11,18887.560547,18246.099609,18246.099609,18850.919922,0.0,18850.919922
...,...,...,...,...,...,...
2021-11-25,29570.419922,29444.449219,29469.650391,29499.279297,50700000.0,29499.279297
2021-11-26,29332.990234,28605.609375,29324.470703,28751.619141,72900000.0,28751.619141
2021-11-29,28776.339844,28187.119141,28337.960938,28283.919922,85900000.0,28283.919922
2021-11-30,28718.699219,27819.140625,28611.730469,27821.759766,140700000.0,27821.759766
2021-12-01,28106.300781,27594.009766,27866.730469,27935.619141,80900000.0,27935.619141

In [77]:
df_Merged=pd.concat([data_Date,data_master], axis=1)
df_Merged
# df_Merged = pd.DataFrame(np.concatenate([df_train.values, df_test.values, df_latest.values]), columns=df_train.columns)

,Date2,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2000-01-04,Dummy,19187.609375,18937.449219,18937.449219,19002.859375,0.0,19002.859375
2000-01-05,Dummy,19003.509766,18221.820312,19003.509766,18542.550781,0.0,18542.550781
2000-01-06,Dummy,18582.740234,18168.269531,18574.009766,18168.269531,0.0,18168.269531
2000-01-07,Dummy,18285.730469,18068.099609,18194.050781,18193.410156,0.0,18193.410156
2000-01-11,Dummy,18887.560547,18246.099609,18246.099609,18850.919922,0.0,18850.919922
...,...,...,...,...,...,...,...
2021-11-25,Dummy,29570.419922,29444.449219,29469.650391,29499.279297,50700000.0,29499.279297
2021-11-26,Dummy,29332.990234,28605.609375,29324.470703,28751.619141,72900000.0,28751.619141
2021-11-29,Dummy,28776.339844,28187.119141,28337.960938,28283.919922,85900000.0,28283.919922
2021-11-30,Dummy,28718.699219,27819.140625,28611.730469,27821.759766,140700000.0,27821.759766
2021-12-01,Dummy,28106.300781,27594.009766,27866.730469,27935.619141,80900000.0,27935.619141

In [78]:
# windows: 移動平均日数
windows = [2, 3, 5, 10, 20, 40, 80]
# macd_windows: MACD用の移動平均日数
macd_windows = [10, 20, 30]
# deviation: ボリンジャーバンド用の偏差
deviation = [1, 2, 3]
# rsi_upper, rsi_lower: RSIの買いすぎ売られすぎ指標
rsi_upper, rsi_lower = 70, 30
# di_span, dx_span: DI,DXの計算期間日数
di_span, dx_span = 14, 14

# データのインポートを行う
data_master = import_data(kind=kind)
# テクニカル指標を作成
# data_technical, data_logic, data_graph = data_arrange(data_master)

In [79]:
data_technical=data_master.copy()
data_technical.set_index('Date',inplace=True)
s = data_technical['Close']

In [80]:
def Average_SMA(data,prices,window):
    for i in window:
        data['sma_'+str(i)]=prices.rolling(window=i).mean()
    return data

def Average_EMA(data,prices,window):
    for i in window:
        data['ema_'+str(i)]=prices.ewm(span=i).mean()
    return data

def RSI(data,prices,window):
    for i in window:
        data['rsi_' + str(i)] = ta.RSI(prices, timeperiod=i)
    return data

def bollingerBands(data,prices,window):
    data_sma=Average_SMA(data=data,prices=data[['Close']],window=windows)   
    for i in window:    
        for j in deviation:
            # upper_sigma
            data['upper_' + str(i) + '_dev_' + str(j)] = data_sma['sma_' + str(i)] + data['Close'].rolling(window=i).std(ddof=0) * j
            #lower_sigma
            data['lower_' + str(i) + '_dev_' + str(j)] = data_sma['sma_' + str(i)] - data['Close'].rolling(window=i).std(ddof=0) * j

            # ボリンジャーバンドの上か下か
            data['upper_check' + str(i) + '_dev_' + str(j)] = data['Close'] >= data['upper_' + str(i) + '_dev_' + str(j)]
            data['lower_check' + str(i) + '_dev_' + str(j)] = data['Close'] <= data['lower_' + str(i) + '_dev_' + str(j)]
    return data


# 実体
def Candlestick_entity(data):
    data['entity'] = abs(data['Open'] - data['Close'])
    return data

# ローソクの長さ
def Candlestick_size(data):
    data['size'] = data['High'] - data['Low']
    return data

# True＝陽
def Candlestick_Yin_yang(data):
    data['陽陰'] = data['Close'] > data['Open']
    return data

# 上ヒゲの長さ
def Candlestick_upper_hige(data):
    data['upper_hige'] = data.apply(lambda x: (x['High'] - x['Close']) if x['Close'] >= x['Open'] else (x['High'] - x['Open']),axis=1)
    return data

# 下ヒゲの長さ
def Candlestick_lower_hige(data):
    data['lower_hige'] = data.apply(lambda x: (x['Open'] - x['Low'] ) if x['Close'] >= x['Open'] else (x['Close'] - x['Low']),axis=1)
    return data

# 上ヒゲ、実体、下ヒゲのpercentage
def Candlestick_size_percentage(data):
    size_ = Candlestick_size(data)['size']
    upper_hige_ = Candlestick_upper_hige(data)['upper_hige']
    entity_ = Candlestick_entity(data)['entity']
    lower_hige_ = Candlestick_lower_hige(data)['lower_hige'] 
    
    data['upper_size'] = upper_hige_ / size_
    data['entity_seze'] = entity_ / size_
    data['lower_size'] =  lower_hige_ / size_

    return data


def DM(data):
    pos_DM = (data['High'] - data['High'].shift(1))
    neg_DM = (data['Low'].shift(1) - data['Low'])
    pos_DM.loc[pos_DM < 0] = 0
    pos_DM.loc[pos_DM - neg_DM < 0] = 0
    neg_DM.loc[neg_DM < 0] = 0
    neg_DM.loc[neg_DM - pos_DM < 0] = 0
    return pos_DM,neg_DM

def TrueRange(data):
    high_low = (data['High'] - data['Low']).abs()
    high_yest_close = (data['High'] - data['Close'].shift(1)).abs()
    low_yest_close = (data['Low'] - data['Close'].shift(1)).abs()
    tr = pd.concat([high_low, high_yest_close, low_yest_close], axis=1).max(axis=1)
    return tr

def DMI(data):
    tr=TrueRange(data)
    pos_DM,neg_DM=DM(data)
    
    data['+DI'] = pos_DM.rolling(di_span).sum() / tr.rolling(di_span).sum() * 100
    data['-DI'] = neg_DM.rolling(di_span).sum() / tr.rolling(di_span).sum() * 100
    data['DX'] = (data_technical['+DI'] - data_technical['-DI']) / (data_technical['+DI'] + data_technical['-DI'])
    data['ADX'] = data_technical['DX'].ewm(span=dx_span).mean()
    data['ADX_diff'] = data_technical['ADX'].diff(1)
    return data

In [81]:
data_technical=Average_SMA(data=data_technical,prices=s,window=windows)
data_technical=Average_EMA(data=data_technical,prices=s,window=windows)
data_technical=RSI(data=data_technical,prices=s,window=windows)
data_technical=bollingerBands(data=data_technical,prices=s,window=windows)
data_technical=Candlestick_entity(data_technical)
data_technical=Candlestick_size(data_technical)
data_technical=Candlestick_Yin_yang(data_technical)
data_technical=Candlestick_upper_hige(data_technical)
data_technical=Candlestick_lower_hige(data_technical)
data_technical=Candlestick_size_percentage(data_technical)
data_technical=DMI(data_technical)

In [135]:
feature = ["logic_number","logic_name"]
data_logic = pd.DataFrame(columns=feature)
data_graph = []

In [136]:
data_logic

Empty DataFrame
Columns: [logic_number, logic_name]
Index: []

In [130]:
class Class_logic_list():
    def __init__(self,my_dataframe):
        self.my_dataframe = my_dataframe
#     def append_list(self,data):
#         self.append(data)

In [139]:
Logic_list=Class_logic_list(data_logic)

In [141]:
Logic_list

In [137]:
def GCDC_signal(data):

    for i in windows[::-1]:
        for j in windows:
            if i>j:
                data['sma_' + str(i)+'-'+str(j)] = data['sma_' + str(i)] - data['sma_'+str(j)]

                data[logic1 + '_sell'] = (data['sma_' + str(i) + '-' + str(j)] * data['sma_' + str(i) + '-' + str(j)].shift(1) < 0) & (data['sma_'+str(i)] > data['sma_'+str(j)])
                data[logic1 + '_buy'] = (data['sma_' + str(i) + '-' + str(j)] * data['sma_' + str(i) + '-' + str(j)].shift(1) < 0) & (data['sma_' + str(i)] < data['sma_'+str(j)])
#                 data = pd.concat([data_logic, pd.DataFrame([logic1, 'sma_slope_' + str(i) + '-' + str(j)]).T])
#                 data_graph.append([logic1, ['sma_' + str(i), 'sma_' + str(j)]])

In [138]:
data_technical=GCDC_signal(data_technical)

NameError: name 'logic1' is not defined

In [ ]:
def Golden(sma05,sma25):
    dfGC=sma05.copy()
    dfGC[0]=1
    for i in range(1,len(sma05)):
        if ((sma05[i] - sma25[i]) > 0) & ((sma05[i-1] - sma25[i-1]) < 0):
            dfGC[i] = 2
        else:
            dfGC[i] = 1
    return dfGC

In [ ]:
df_train['GC']=Golden(df_train['SMA05'],df_train['SMA25'])
df_test['GC']=Golden(df_test['SMA05'],df_test['SMA25'])
# df_test['RSI01']=RSI(df_test['Close'],span01)

In [82]:
data_technical

,High,Low,Open,Close,Volume,Adj Close,sma_2,sma_3,sma_5,sma_10,...,upper_hige,lower_hige,upper_size,entity_seze,lower_size,+DI,-DI,DX,ADX,ADX_diff
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,19187.609375,18937.449219,18937.449219,19002.859375,0.0,19002.859375,NaN,NaN,NaN,NaN,...,184.750000,0.000000,0.738527,0.261473,0.000000,NaN,NaN,NaN,NaN,NaN
2000-01-05,19003.509766,18221.820312,19003.509766,18542.550781,0.0,18542.550781,18772.705078,NaN,NaN,NaN,...,0.000000,320.730469,0.000000,0.589696,0.410304,NaN,NaN,NaN,NaN,NaN
2000-01-06,18582.740234,18168.269531,18574.009766,18168.269531,0.0,18168.269531,18355.410156,18571.226562,NaN,NaN,...,8.730469,0.000000,0.021064,0.978936,0.000000,NaN,NaN,NaN,NaN,NaN
2000-01-07,18285.730469,18068.099609,18194.050781,18193.410156,0.0,18193.410156,18180.839844,18301.410156,NaN,NaN,...,91.679688,125.310547,0.421262,0.002944,0.575794,NaN,NaN,NaN,NaN,NaN
2000-01-11,18887.560547,18246.099609,18246.099609,18850.919922,0.0,18850.919922,18522.165039,18404.199870,18551.601953,NaN,...,36.640625,0.000000,0.057121,0.942879,0.000000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-25,29570.419922,29444.449219,29469.650391,29499.279297,50700000.0,29499.279297,29400.969727,29525.349609,29584.115625,29608.165820,...,71.140625,25.201172,0.564739,0.235205,0.200056,15.484530,30.549399,-0.327256,0.030242,-0.055000
2021-11-26,29332.990234,28605.609375,29324.470703,28751.619141,72900000.0,28751.619141,29125.449219,29184.519531,29414.707422,29555.541797,...,8.519531,146.009766,0.011713,0.787554,0.200734,13.735839,39.753410,-0.486407,-0.038645,-0.068887
2021-11-29,28776.339844,28187.119141,28337.960938,28283.919922,85900000.0,28283.919922,28517.769531,28844.939453,29122.317578,29422.936719,...,438.378906,96.800781,0.743998,0.091716,0.164286,12.799490,44.949815,-0.556722,-0.107722,-0.069077
2021-11-30,28718.699219,27819.140625,28611.730469,27821.759766,140700000.0,27821.759766,28052.839844,28285.766276,28731.847656,29227.432617,...,106.968750,2.619141,0.118912,0.878176,0.002912,11.922373,43.651094,-0.570933,-0.169483,-0.061761
2021-12-01,28106.300781,27594.009766,27866.730469,27935.619141,80900000.0,27935.619141,27878.689453,28013.766276,28458.439453,29040.182617,...,170.681641,272.720703,0.333173,0.134472,0.532355,11.333644,42.576108,-0.579533,-0.224156,-0.054673

In [ ]:
def GC(data):
    data.reset_index(drop=False, inplace=True)
    for i in range(1,len(data)):
        if((data['sma_2'][i]-data['sma_80'][i])>0)&((data['sma_2'][i-1]-data['sma_80'][i-1])<0):
            print(data['Date'])

In [ ]:
def trial(variable):
    variable

In [89]:
a=[]
for i in windows[::-1]:
    a.append(i)

In [90]:
b=[]
for j in windows[::]:
    b.append(j)
    a.append(j)

In [121]:
trial2(data_technical)

0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26
5367   2021-11-29
5368   2021-11-30
5369   2021-12-01
Name: Date, Length: 5370, dtype: datetime64[ns]
0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-11
          ...
5365   2021-11-25
5366   2021-11-26

In [106]:
def Golden(sma05,sma25):
    dfGC=sma05.copy()
    dfGC[0]=1
    for i in range(1,len(sma05)):
        if ((sma05[i] - sma25[i]) > 0) & ((sma05[i-1] - sma25[i-1]) < 0):
            dfGC[i] = 2
        else:
            dfGC[i] = 1
    return dfGC

In [ ]:
df_train['GC']=Golden(df_train['SMA05'],df_train['SMA25'])
df_test['GC']=Golden(df_test['SMA05'],df_test['SMA25'])
# df_test['RSI01']=RSI(df_test['Close'],span01)

In [ ]:
# golden Cross, sma5がsma25を上抜いたとき
df['GC'] = 0
for i in range(len(df)-1):
    if ((df['sma5'][i] - df['sma25'][i]) > 0) & ((df['sma5'][i-1] - df['sma25'][i-1]) < 0):
        df.iloc[i, len(df.columns)-1] = 1
    else:
        df.iloc[i,len(df.columns)-1] = 0

In [94]:
len(a)

14

In [91]:
a

[80, 40, 20, 10, 5, 3, 2, 2, 3, 5, 10, 20, 40, 80]

In [92]:
b

[2, 3, 5, 10, 20, 40, 80]

In [67]:
def TrueFalseConversion(data):
    data.replace({False: 0, True: 1}, inplace=True)
    return data

def Data_Extraction(data,start):
    data.reset_index(drop=False, inplace=True)
    start_timestamp= pd.to_datetime(start)
    data = data.set_index('Date')
    data = data.loc[start_timestamp:, :]
    data.reset_index(drop=False, inplace=True)        
    return data

In [68]:
data_technical=TrueFalseConversion(data_technical)
data_output=Data_Extraction(data=data_technical,start='2021-01-01')
data_output.to_csv('data_technical_tentative.csv')

In [ ]:
# 
print(f'train\n{df_train}\n')
print(f'test\n{df_test}\n')

◆Box1.1 P.22
　終値が移動平均を上回ったら買え

moving average(type, price, length)

→moving average(simple,close,21)

◆やりたいこと
市場が200日移動平均を上回って引け、その後下落トレンドに転じ、RSIが20を下回って底を付け、その後上昇し始めたら買え。売りは逆。

今日の終値が終値の200日移動平均を上回り、今日の終値が昨日の終値を下回り、昨日の終値がその前日の終値を下回り、その前日の終値がそのまた前日の終値を下回り、昨日の14日RSIが20を下回り、昨日の14日RSIが今日の14日RSI を下回ったとき、成り行きで買う。

if close> 200 day moving average and
close くclose[1] and close [1] < close [2] and
close[2］くclose[3] and yesterday’s 14 day RSI ＜ 20 and
yesterday’s 14 day RSI くtoday’s 14 day RSI then BUY

P27:最初の不等号が逆な気がする

In [ ]:
if myClose[DO] < sAverage(myClose,200,DO,1) and 
myClose[DO]<myClose[D1] and myClose[D2]くmyClose[D3] and
myClose[D1]<myClose[D2] and 
rsiVal[D1] < 20 and rsiVal[D1]<rsiVal[DO]:

buyEntryName: 'rsiBuy'
entryPrice = myOpen