In [12]:
# ライブラリのインポート
from datetime import datetime, timedelta
import talib as ta
import numpy as np
import pandas as pd
from pandas_datareader import data
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
import seaborn as sns
%matplotlib inline
import warnings
warnings.simplefilter('ignore')

In [13]:
def import_data(kind, reference='yahoo'):
    data_master = data.DataReader(kind, reference, '2000-01-01', end)
    data_master.reset_index(drop=False, inplace=True)
    data_master['Date'] = pd.to_datetime(data_master['Date'])
    return data_master

In [14]:
# 開始日時と終了日時
start, end = '2021-01-01', '2021-12-01'
# 使用する銘柄
kind = '^N225'

In [15]:
# データのインポートを行う
data_master = import_data(kind=kind)

In [20]:
data_master

,Date,High,Low,Open,Close,Volume,Adj Close
0,2000-01-04,19187.609375,18937.449219,18937.449219,19002.859375,0.0,19002.859375
1,2000-01-05,19003.509766,18221.820312,19003.509766,18542.550781,0.0,18542.550781
2,2000-01-06,18582.740234,18168.269531,18574.009766,18168.269531,0.0,18168.269531
3,2000-01-07,18285.730469,18068.099609,18194.050781,18193.410156,0.0,18193.410156
4,2000-01-11,18887.560547,18246.099609,18246.099609,18850.919922,0.0,18850.919922
...,...,...,...,...,...,...,...
5365,2021-11-25,29570.419922,29444.449219,29469.650391,29499.279297,50700000.0,29499.279297
5366,2021-11-26,29332.990234,28605.609375,29324.470703,28751.619141,72900000.0,28751.619141
5367,2021-11-29,28776.339844,28187.119141,28337.960938,28283.919922,85900000.0,28283.919922
5368,2021-11-30,28718.699219,27819.140625,28611.730469,27821.759766,140700000.0,27821.759766
5369,2021-12-01,28106.300781,27594.009766,27866.730469,27935.619141,80900000.0,27935.619141

In [23]:
data_Date=data_master[['Date']]
data_Date['Date2']='Dummy'

In [24]:
data_Date

           Date  Date2
0    2000-01-04  Dummy
1    2000-01-05  Dummy
2    2000-01-06  Dummy
3    2000-01-07  Dummy
4    2000-01-11  Dummy
...         ...    ...
5365 2021-11-25  Dummy
5366 2021-11-26  Dummy
5367 2021-11-29  Dummy
5368 2021-11-30  Dummy
5369 2021-12-01  Dummy

[5370 rows x 2 columns]

In [25]:
# Dateをインデックスに指定
data_Date.set_index('Date',inplace=True)
data_Date

            Date2
Date
2000-01-04  Dummy
2000-01-05  Dummy
2000-01-06  Dummy
2000-01-07  Dummy
2000-01-11  Dummy
...           ...
2021-11-25  Dummy
2021-11-26  Dummy
2021-11-29  Dummy
2021-11-30  Dummy
2021-12-01  Dummy

[5370 rows x 1 columns]

In [26]:
# Dateをインデックスに指定
data_master.set_index('Date',inplace=True)
data_master

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2000-01-04,19187.609375,18937.449219,18937.449219,19002.859375,0.0,19002.859375
2000-01-05,19003.509766,18221.820312,19003.509766,18542.550781,0.0,18542.550781
2000-01-06,18582.740234,18168.269531,18574.009766,18168.269531,0.0,18168.269531
2000-01-07,18285.730469,18068.099609,18194.050781,18193.410156,0.0,18193.410156
2000-01-11,18887.560547,18246.099609,18246.099609,18850.919922,0.0,18850.919922
...,...,...,...,...,...,...
2021-11-25,29570.419922,29444.449219,29469.650391,29499.279297,50700000.0,29499.279297
2021-11-26,29332.990234,28605.609375,29324.470703,28751.619141,72900000.0,28751.619141
2021-11-29,28776.339844,28187.119141,28337.960938,28283.919922,85900000.0,28283.919922
2021-11-30,28718.699219,27819.140625,28611.730469,27821.759766,140700000.0,27821.759766
2021-12-01,28106.300781,27594.009766,27866.730469,27935.619141,80900000.0,27935.619141

In [27]:
df_Merged=pd.concat([data_Date,data_master], axis=1)
df_Merged
# df_Merged = pd.DataFrame(np.concatenate([df_train.values, df_test.values, df_latest.values]), columns=df_train.columns)

,Date2,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2000-01-04,Dummy,19187.609375,18937.449219,18937.449219,19002.859375,0.0,19002.859375
2000-01-05,Dummy,19003.509766,18221.820312,19003.509766,18542.550781,0.0,18542.550781
2000-01-06,Dummy,18582.740234,18168.269531,18574.009766,18168.269531,0.0,18168.269531
2000-01-07,Dummy,18285.730469,18068.099609,18194.050781,18193.410156,0.0,18193.410156
2000-01-11,Dummy,18887.560547,18246.099609,18246.099609,18850.919922,0.0,18850.919922
...,...,...,...,...,...,...,...
2021-11-25,Dummy,29570.419922,29444.449219,29469.650391,29499.279297,50700000.0,29499.279297
2021-11-26,Dummy,29332.990234,28605.609375,29324.470703,28751.619141,72900000.0,28751.619141
2021-11-29,Dummy,28776.339844,28187.119141,28337.960938,28283.919922,85900000.0,28283.919922
2021-11-30,Dummy,28718.699219,27819.140625,28611.730469,27821.759766,140700000.0,27821.759766
2021-12-01,Dummy,28106.300781,27594.009766,27866.730469,27935.619141,80900000.0,27935.619141

In [37]:
# windows: 移動平均日数
windows = [2, 3, 5, 10, 20, 40, 80]
# macd_windows: MACD用の移動平均日数
macd_windows = [10, 20, 30]
# deviation: ボリンジャーバンド用の偏差
deviation = [1, 2, 3]
# rsi_upper, rsi_lower: RSIの買いすぎ売られすぎ指標
rsi_upper, rsi_lower = 70, 30
# di_span, dx_span: DI,DXの計算期間日数
di_span, dx_span = 14, 14

# データのインポートを行う
data_master = import_data(kind=kind)
# テクニカル指標を作成
# data_technical, data_logic, data_graph = data_arrange(data_master)

In [38]:
data_technical=data_master.copy()

In [81]:
s = data_technical['Close']

def Average_SMA(data,prices,window):
    for i in window:
        data['sma_'+str(i)]=prices.rolling(window=i).mean()
    return data

def Average_EMA(data,prices,window):
    for i in window:
        data['ema_'+str(i)]=prices.ewm(span=i).mean()
    return data

def RSI(data,prices,window):
    for i in window:
        data['rsi_' + str(i)] = ta.RSI(prices, timeperiod=i)
    return data

def bollingerBands(data,prices,window):
    data_sma=Average_SMA(data=data['Close'],prices=s,window=windows)   
    for i in window:    
        for j in deviation:
            # upper_sigma
            data['upper_' + str(i) + '_dev_' + str(j)] = data_sma['sma_' + str(i)] + s.rolling(window=i).std(ddof=0) * j
            #lower_sigma
            data['lower_' + str(i) + '_dev_' + str(j)] = data_sma['sma_' + str(i)] - s.rolling(window=i).std(ddof=0) * j

            # ボリンジャーバンドの上か下か
            data['upper_check' + str(i) + '_dev_' + str(j)] = s >= data['upper_' + str(i) + '_dev_' + str(j)]
            data['lower_check' + str(i) + '_dev_' + str(j)] = s <= data['lower_' + str(i) + '_dev_' + str(j)]
    return data

In [72]:
# def bollingerBands(data,prices,window):
#     data_sma=Average_SMA(data=data['Close'],prices=s,window=windows)   
#     for i in window:    
#         for j in deviation:
#             # upper_sigma
#             data['upper_' + str(i) + '_dev_' + str(j)] = data_sma['sma_' + str(i)] + s.rolling(window=i).std(ddof=0) * j
#             #lower_sigma
#             data['lower_' + str(i) + '_dev_' + str(j)] = data_sma['sma_' + str(i)] - s.rolling(window=i).std(ddof=0) * j

#             # ボリンジャーバンドの上か下か
#             data['upper_check' + str(i) + '_dev_' + str(j)] = s >= data['upper_' + str(i) + '_dev_' + str(j)]
#             data['lower_check' + str(i) + '_dev_' + str(j)] = s <= data['lower_' + str(i) + '_dev_' + str(j)]
#     return data

In [82]:
data_technical=Average_SMA(data=data_technical,prices=s,window=windows)
data_technical=Average_EMA(data=data_technical,prices=s,window=windows)
data_technical=RSI(data=data_technical,prices=s,window=windows)
data_technical=bollingerBands(data=data_technical,prices=s,window=windows)

In [83]:
def TrueFalseConversion(data):
    data.replace({False: 0, True: 1}, inplace=True)
    return data

def Data_Extraction(data,start):
    start_timestamp= pd.to_datetime(start)
    data = data.set_index('Date')
    data = data.loc[start_timestamp:, :]
    data.reset_index(drop=False, inplace=True)        
    return data

In [84]:
data_technical=TrueFalseConversion(data_technical)
data_output=Data_Extraction(data=data_technical,start='2021-01-01')
data_output.to_csv('data_technical_tentative.csv')

In [ ]:
# 
print(f'train\n{df_train}\n')
print(f'test\n{df_test}\n')

◆Box1.1 P.22
　終値が移動平均を上回ったら買え

moving average(type, price, length)

→moving average(simple,close,21)

◆やりたいこと
市場が200日移動平均を上回って引け、その後下落トレンドに転じ、RSIが20を下回って底を付け、その後上昇し始めたら買え。売りは逆。

今日の終値が終値の200日移動平均を上回り、今日の終値が昨日の終値を下回り、昨日の終値がその前日の終値を下回り、その前日の終値がそのまた前日の終値を下回り、昨日の14日RSIが20を下回り、昨日の14日RSIが今日の14日RSI を下回ったとき、成り行きで買う。

if close> 200 day moving average and
close くclose[1] and close [1] < close [2] and
close[2］くclose[3] and yesterday’s 14 day RSI ＜ 20 and
yesterday’s 14 day RSI くtoday’s 14 day RSI then BUY

P27:最初の不等号が逆な気がする

In [ ]:
if myClose[DO] < sAverage(myClose,200,DO,1) and 
myClose[DO]<myClose[D1] and myClose[D2]くmyClose[D3] and
myClose[D1]<myClose[D2] and 
rsiVal[D1] < 20 and rsiVal[D1]<rsiVal[DO]:

buyEntryName: 'rsiBuy'
entryPrice = myOpen